
<!-- login template -->

<!-- <div class="login-button-container">
    <button class="btn btn-secondary pr-2 pl-2 pt-1 pb-1" data-toggle="modal" data-target="#loginModal" id="login-button">
        <i class="fas fa-bars"></i>
    </button>
</div> -->
<!-- .login-button-container -->

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header border-0">
                <h5 class="modal-title text-center" id="loginModalTitle">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-danger alert-dismissible fade show p-1 d-none rounded-0 text-center" role="alert">
                  <small></small>
                  <button type="button" class="close p-1 pr-2" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <form action="" method="post" role="form" name="login-form">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0" id="email-addon" for="email">
                                <i class="fas fa-envelope"></i>
                            </label>
                        </div>
                        <input type="email" name="email" id="modal-email" class="form-control rounded-0" placeholder="Email" aria-label="Email" aria-describedby="email-addon" autocomplete="off" title="Please enter your email here" required>
                    </div><!-- .input-group -->
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text rounded-0" id="password-addon" for="password">
                                <i class="fas fa-key"></i>
                            </label>
                        </div>
                        <input type="password" name="password" id="modal-password" class="form-control rounded-0" placeholder="Password" aria-label="Email" aria-describedby="password-addon" autocomplete="off" title="Please enter your password here" required>
                    </div><!-- .input-group -->
                    <!-- <div class="input-group">
                        <div class="input-group-prepend">
                            <label for="remember">
                                <small>Remember me</small>
                            </label>
                        </div>
                        <label class="switch ml-2 mt-1">
                            <input type="checkbox" name="remember" id="remember">
                            <span class="slider round"></span>
                        </label>
                    </div> -->
                    <!-- .input-group -->
                    <div class="input-group mt-5">
                        <button type="button" class="btn btn-primary btn-md btn-block rounded-0" id="btn-login">
                            <i id="login-icon" class="fas fa-sign-in-alt"></i>
                            <i id="login-spinner" class="fas fa-circle-notch fa-spin d-none"></i>
                            <span class="ml-1">Login</span>
                        </button>
                        <button type="button" class="btn btn-orange btn-md btn-block rounded-0 mt-3" id="btn-signup">
                            <i class="fas fa-user-plus"></i>
                            <span class="ml-1">Sign Up</span>
                        </button>
                    </div>
                    <!-- .input-group -->
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /login template -->
