{% extends 'base.html.twig' %}

{% block title %}ZOOD - About Us!{% endblock %}

{% block styles %}
    <link href="css/index.css" rel="stylesheet">
    <link href="css/aboutUs.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <nav class="navbar fixed-top navbar-light bg-light ">
        <div class="logo"></div>
        <span class="tag-line float-left">Health Without A Border </span>
    </nav>

    <div class="parallax-wrapper" id="about-us">

        <div class="background background--first">
            <h2 class="title">Who we are?</h2>
        </div>

        <section class="desc">
            <div class="desc-wrapper mt-5">
                <h3 class="desc--title mt-5">Who we are?</h3>
                <p class="desc--about">Our people at ZOOD consists of Australian health professionals and highly qualified IT specialists who understand and believe in health without a border. Working as health professionals, we have witnessed many patients who could not afford the high
                cost or could not access the best treatment at home country. At the same time, we came across many skilled and award-winning doctors and clinics who offer high quality medical, dental and mindfulness services. We started to look for a solution to
                wipe down the confusion and make it easy and hassle-free to find the best health options without any burden or border.</p>
            </div>
            <div class="desc-background"></div>
        </section>

        <div class="background background--second">
            <h2 class="title">What is medical tourism?</h2>
        </div>

        <section class="desc vh-50">
            <div class="desc-wrapper mt-5">
                <h3 class="desc--title mt-5">What is medical tourism?</h3>
                <p class="desc--about">According to the World Health Organisation, medical tourists refer to people who elect to travel across international borders to receive some form of medical treatment.</p>
            </div>
            <div class="desc-background"></div>
        </section>

        <div class="background background--third">
            <h2 class="title">What are the main drivers for medical tourism?</h2>
        </div>

        <section class="desc vh-50">
            <div class="desc-wrapper mt-5">
                <h3 class="desc--title mt-5">What are the main drivers for medical tourism?</h3>
                <p class="desc--about">High costs and long waiting lists at home, new technology and skills in destination countries alongside relaxing environment and low-cost aftercare facilities have all played a role.</p>
            </div>
            <div class="desc-background"></div>
        </section>

        <div class="background background--fourth">
            <h2 class="title">What are the main concerns when travelling abroad for medical treatments?</h2>
        </div>

        <section class="desc vh-50">
            <div class="desc-wrapper mt-5">
                <h3 class="desc--title mt-5">What are the main concerns when travelling abroad for medical treatments?</h3>
                <p class="desc--about">Lack of clarity, communication, unknown environment and facilities.</p>
            </div>
            <div class="desc-background"></div>
        </section>

        <div class="background background--fifth">
            <h2 class="title">What do we do at ZOOD to solve these issues?</h2>
        </div>

        <section class="desc">
            <div class="desc-wrapper mt-5">
                <h3 class="desc--title mt-5">What do we do at ZOOD to solve these issues?</h3>
                <p class="desc--about mb-3">We providing treatment seekers with clarity and convenience. We only add practitioners who have proven credentials and certificates. You can see their faces and their degrees before choosing them. We request each patient to write a review and share
                their honest experience with others. In this way, only real patients and real testimonies are published. You can communicate with them easily and sent them your medical history and x-rays through our secure messenger section. They will send you
                before and aftercare instruction so you can be prepared. In addition, you will be saving all your records, receipts and instruction safely in your profile. you can access them anytime and anywhere. Through our secure payment section, you pay in your
                own currency and your payment records are permanently accessible.</p>
            </div>
            <div class="desc-background"></div>
        </section>


    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
