{% extends 'base.html.twig' %}

{% block title %}ZOOD - About Us!{% endblock %}

{% block styles %}
    <link href="css/index.css" rel="stylesheet">
    <link href="css/aboutUs.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="">
        <header class="background1 vh-100">
            <div class="text">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="row header">
                            <div class="col-md-6 col-sm-12 p-5">
                                <div class="logo mb-0"></div>
                                <p class="tag-line text-center">
                                    Health Without A Border
                                </p>
                                <h2 class="text-center mt-5">
                                    About us
                                </h2>
                            </div>
                        </div><!-- .row -->
                    </div>
                </div>
            </div>
        </header>
        <header class="">
            <div class=" text">
                <h1>Parallax CSS1</h1>
            </div>
        </header>
        <header class="background3">
            <div class="text">
                <h1>Parallax CSS2</h1>
            </div>
        </header>

        <header class="background1">
            <div class="text">
                <h1>Parallax CSS3</h1>
            </div>
        </header>
    </div>

    {#
    <div class="container-fluid pb-5 mb-5" id="about-us">

        <div class="row">
            <div class="col-md-7 col-sm-12">

                <div class="row header">
                    <div class="col-md-6 col-sm-12">
                        <div class="logo"></div>
                    </div>
                    <div class="col-md-6 col-sm-12 tag-line">
                        Health Without A Border
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>
                    Who we are?
                </h2>
                <p>
                    Our people at ZOOD consists of Australian health professionals and highly qualified IT specialists who understand and believe in health without a border. Working as health professionals, we have witnessed many patients who could not afford the high cost or could not access the best treatment at home country. At the same time, we came across many skilled and award-winning doctors and clinics who offer high quality medical, dental and mindfulness services. We started to look for a solution to wipe down the confusion and make it easy and hassle-free to find the best health options without any burden or border.
                </p>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col">
                <h2>
                    What is medical tourism?
                </h2>
                <p>
                    According to the World Health Organisation,  medical tourists refer to people who elect to travel across international borders to receive some form of medical treatment.
                </p>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col">
                <h2>
                    What are the main drivers for medical tourism?
                </h2>
                <p>
                    High costs and long waiting lists at home, new technology and skills in destination countries alongside relaxing environment and low-cost aftercare facilities have all played a role.
                </p>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col">
                <h2>
                    What are the main concerns when travelling abroad for medical treatments?
                </h2>
                <p>
                    Lack of clarity, communication, unknown environment and facilities.
                </p>
            </div><!-- .col -->
        </div><!-- .row -->

        <div class="row">
            <div class="col">
                <h2>
                    What do we do at ZOOD to solve these issues?
                </h2>
                <p>
                    We providing treatment seekers with clarity and convenience. We only add practitioners who have proven credentials and certificates. You can see their faces and their degrees before choosing them. We request each patient to write a review and share their honest experience with others. In this way, only real patients and real testimonies are published. You can communicate with them easily and sent them your medical history and x-rays through our secure messenger section. They will send you before and aftercare instruction so you can be prepared. In addition, you will be saving all your records, receipts and instruction safely in your profile. you can access them anytime and anywhere.
                    Through our secure payment section, you pay in your own currency and your payment records are permanently accessible.
                </p>
            </div><!-- .col -->
        </div><!-- .row -->

    </div><!-- .container-fluid -->
#}
{% endblock %}

{% block scripts %}

    <script>
        // $(window).scroll(function(){ var curentPosition = Math.round($(this).scrollTop()); console.log(curentPosition); $('.midground').css({ 'transform': 'translate(0px, -' + (curentPosition / 5) + '%)' }); $('.forground').css({ 'transform':
        // 'translate('+(curentPosition / 2)+'%, ' + (curentPosition / 2) + '%)', 'opacity': '0.5' });
        //
        // $('.text').css({ 'transform': 'translate(0px, ' + (curentPosition / 7) + '%)' });
        //
        // });
    </script>

{% endblock %}
