{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>ZOOD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="ZOOD">
        <link rel="shortcut icon" type="image/ico" href="favicon.ico">
        <link rel="stylesheet" href="dist/main.css" type="text/css">
    </head>
    <body>
    <section class="initial-section">
        <div class="logo"></div>

        <div class="row row-center no-margin-bottom">
            <h1 class="text-center no-margin-bottom">Book your overseas doctor.</h1>
        </div>
        <div class="row row-center margin-bottom-large">
            <h3 class="no-margin-bottom text-center">Hassle free and secure</h3>
        </div>

    </section>
    <section class="implied-bg">


        <div class="row row-center">
            <h3 class="text-center no-margin-bottom">Enter your email for early subsciption</h3>
        </div>
        <div class="row row-center" style="position: relative;max-width: 300px; margin: 2em auto;">
            <input type="email" class="margin-bottom-small regular-input" id="email-field" />
            <div class="submit-email"></div>
        </div>
        <div class="row row-center">
            <p class="text-center">Combine your next trip with a joyful retreat of mind, body and soul.
                <br />
                Search through hundreds of health and beauty professionals overseas</p>
        </div>
        <div>
        </div>
        <div class="footer">
            <p>Copyright &copy; 2019 ZOOD - All rights reserved.</p>
            <p>ABN: 1234 5678</p>
        </div>
    </section>
    </body>
    </html>


    <script>
        // remap jQuery to $
        (function($){

            /* trigger when page is ready */
            $(document).ready(function (){
                $('.submit-email').click(function(){
                    var email = $('#email-field').val();

                    console.log(email);

                    $.ajax({
                        url: '{{ (path('register')) }}',
                        type: "GET",
                        dataType: "json",
                        data: {
                            "email": email
                        },
                        success: function (data)
                        {
                        }
                    });

                });
            });

        })(window.jQuery);
    </script>


{% endblock %}

{% block stylesheets %}

{% endblock %}
