{% extends 'base.html.twig' %}

{% block styles %}
    <link href="css/index.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link href="css/signUp.css" rel="stylesheet">
{% endblock %}

{% block body %}

    {% include 'templates/login.html.twig' %}
    {% include 'templates/signUp.html.twig' %}
            <!-- data-toggle="modal"  -->

    <div class="login-button-container">
        <button
            class="btn btn-secondary pr-2 pl-2 pt-1 pb-1"
            id="burger-button"
            data-container="body"
            data-toggle="popover"
            data-placement="bottom"
        >
            <i class="fas fa-bars"></i>
        </button>
    </div><!-- .login-button-container -->

    <div class="container-fluid pb-5 mb-5" id="index">

        <div class="row">
            <div class="col-md-7 col-sm-12">

                <div class="row header">
                    <div class="col-md-6 col-sm-12">
                        <div class="logo"></div>
                    </div>
                    <div class="col-md-6 col-sm-12 tag-line">
                        Health Without A Border
                    </div><!-- .col-md-6 -->
                </div><!-- .row -->

                <div class="row">
                    <div class="col">
                        <ul class="feature-list">
                            <li>
                                Book your overseas doctor at Zood
                            </li>
                            <li>
                                Hassle-free, and secure
                            </li>
                            <li>
                                Get to know them before you book your flight
                            </li>
                        </ul><!-- .feature-list -->
                    </div><!-- .col -->
                </div><!-- .row -->

            </div><!-- .col-md-7 -->

            <div class="col-md-5 col-sm-12 subscribtion-wrapper">
                <div class="col bg-orange subscribtion-container">
                    <p>
                        Subscribe here to receive 5% discount on your first booking
                    </p>
                    <div class="input-group mb-3">
                        <input type="email" name="email" id="email" class="form-control" placeholder="Your Email..." aria-label="Recipient's email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="btn-send">Send</button>
                        </div>
                    </div>
                </div><!-- .col -->
            </div><!-- .col-md-5 -->

        </div><!-- .row -->

        <div class="row card-container pb-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Convenience</p>
                        <p class="card-text">
                            Easy to search, compare the fees and services, location and availability
                        </p>
                    </div>
                </div>
            </div><!-- .col-md-4 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Clarity</p>
                        <p class="card-text">
                            Check their degree, experience, real testimonials, all in one place
                        </p>
                    </div>
                </div>
            </div><!-- .col-md-4 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title">Security</p>
                        <p class="card-text">
                            Get the quote before booking, pay securely with your own currency
                        </p>
                    </div>
                </div>
            </div><!-- .col-md-4 -->
        </div><!-- .row -->
    </div><!-- .container-fluid -->

    <footer class="pd-2 text-wrap p-3 bg-dark mt-5 text-center fixed-bottom">
        <div class="row">
            <div class="col">
                <small class="text-light">Your best treatment option is not always available at home, browse through hundreds of skilled doctors and clinics in South Asia, in ZOOD.</small>
            </div>
        </div>
    </footer>

    <div id="background-mask"></div>
{% endblock %}

{% block scripts %}

    <script src="/vendor/sweetalert/js/sweetalert.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/signUp.js"></script>

    <script>
        // remap jQuery to $
        (function($){


            /* trigger when page is ready */
            $(document).ready(function (){
                $('#btn-send').click(function(){
                    var email = $('#email');

                    $.ajax({
                        url: '{{ (path('register')) }}',
                        type: "GET",
                        dataType: "json",
                        data: {
                            "email": email.val()
                        },
                        success: function (data)
                        {
                            swal({
                                title: "Than you!",
                                text: data,
                                icon: "success",
                            });

                            email.val(null);
                        },
                        error: function (xhr, status, errorThrown) {
                            swal({
                                title: "Something went wrong!",
                                text: "We apologize for the inconvinience. Please report this by sending us an email to contact@zood.com",
                                icon: "error",
                            });
                        }
                    });

                });


            });

            var login = new Login();
            login.url = '{{ url('homepage') }}authenticate';

            var signUp = new SignUp();
            signUp.url = '{{ url('homepage') }}sign-up';

        })(window.jQuery);
    </script>
{% endblock %}
