
#health-provider {
    background-image: url('../images/health-provider/health_provider_index.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}


.cursor-pointer {
    cursor: pointer !important;
}

.reg_form.d-none {
    opacity: 0;
}

.reg_form:not(.d-none) {
    opacity: 1;
    transition: opacity 4s linear;
}

.form-check-input {
    height: 20px;
    width: 20px;
}
