
nav {
    padding: 0 !important;
    z-index:100 !important;
}

nav a:not(.navbar-brand) {
    font-size: 18px !important;
    color: #fff  !important;
    font-weight: 600;
    height:70px;
    line-height: 2.75;
}

nav a:hover:not(.navbar-brand)
{
    color: #fff  !important;
    text-shadow: 0.1px 0.1px #fff;
    background-color: #ff9d0a;
    transition: 0.5s ease;
}

nav .navbar-brand img {
    height:50px;
    margin-left: 10px;
}

@media only screen and (min-width: 992px) {
    nav .navbar-brand {
        padding: 0 !important;
    }

    nav #navbarNav {
        height:70px;
    }

    nav #navbarNav ul {
        height:70px;
    }

    nav #login-button {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 991px) {
    nav .nav-item {
        margin-left: 0 !important;
        padding: 0;
    }
}

@media only screen and (max-width: 992px) {
    nav a {
        text-align: center;
    }

    nav #login-button {
        margin-top: 15px !important;
        width: 100%;
    }

    nav #nav-search {
        margin-top: 15px !important;
        margin-right: 0 !important;
        width: 100%;
    }
}
