{% extends 'base.html.twig' %}

{% block title %}Health Providers{% endblock %}

{% block styles %}
    <link href="{{ url('homepage') }}css/general.css" rel="stylesheet">
    <link href="{{ url('homepage') }}css/health-provider.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container-fluid pb-1" id="health-provider">

        <div class="row pt-5">
            <div class="col-md-12 pt-5 mt-5 text-center">
                <br />
                <br />
                <br />
                <br />
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                <a href="javascript:void(0)" class="btn btn-primary mt-3 mr-1 rounded-lg p-3 shadow" id="btn-be-health-provider">
                    <h3><i class="fas fa-clinic-medical fa-2x"></i> Be a Health Provider</h3>
                </a>
                <a href="{{ url('healthProvider.search') }}" class="btn btn-orange mt-3 ml-1 rounded-lg p-3 shadow">
                    <h3><i class="fas fa-user-md fa-2x"></i> Search a Health Provider</h3>
                </a>
            </div>
            <!-- .row -->
        </div>
        <!-- .row -->
    </header>

</div>
<!-- .container-fluid -->

{% endblock %}

{% block scripts %}
    <script>
        $('#btn-be-health-provider').on('click', function() {
            $('#loginModal').modal('hide');
            setTimeout(function() {
                $('#signUpModal').modal('show');
            }, 500);
        });
    </script>
{% endblock %}
